.user{
    border: 0.05em solid #0007;
    width: 100%;
    max-width: 320px;
    border-radius: 0.4em;
    padding: 1em;
    transition: transform 200ms ;
    margin: 10px;
    box-shadow: -0.3em -0.3em 0.5em rgb(218, 85, 85), 0.3em 0.3em 0.5em rgba(110, 228, 94, 0.932);
    
}
.user:hover{
    transform: scale(1.03);
}
.user--name{
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #0009;
}
.user--list{
    display: grid;
    gap: 0.5em;
}
.user--item{
    display: flex;
    flex-direction: column;
    gap: 0.2em
}
.user--label{
    font-size: 0.8rem;
    color: rgb(94, 245, 245);
    text-transform: uppercase;
    position: relative;
    left: 1rem;
}

.user--footer{
    display: flex;
    justify-content: end;
    gap: 0.8em;
    padding-top: 10px;
    position: relative;
}
.user--btn{
    position: absolute;
    width: 2.5em;
    background-color: rgba(35, 252, 7, 0.932);
    aspect-ratio: 0.9;
    transition: transform 200ms ease;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    
}

.user--btn:hover{
    transform: scale(1.15);
    color: black;
    text-align: center;
    font-size: 13px;
    border-width: 2px;
    border-style:outset ;
    border-color: black;
    border-radius: 10px;
}
.user--delete{
    color: white;
    width: 2.5em;
    aspect-ratio: 0.9;
    background-color: red;
    text-align: center;
    margin-right: 45px;
    transition: transform 200ms ease;
    border-width: 1px;
    border-style:solid;
    border-color: black;
    border-radius: 10px;
}
.user--delete:hover{
    transform: scale(1.15);
    border-width: 2px;
    border-style: outset;
    border-color: black;
    background-color: red;
    border-radius: 10px;
}
.user--update{
    color: #0aaa;
    border: 0.05em solid currentColor;

}