@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Raleway:ital,wght@1,200&family=Sedgwick+Ave+Display&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}
h1,h2,h3,h4,p,ul{
    margin-top: 0;
    margin-bottom: 0;
}
input{
    outline: none;
    font-family: inherit;
}
button{
    border:none;
    font-family: inherit;
}